.vs/Mercado/v15/.suo

.vs/Mercado/v15/Server/sqlite3/storage.ide-shm
.vs/Mercado/v15/Server/sqlite3/storage.ide-wal
Mercado/obj/Debug/Mercado.csproj.CoreCompileInputs.cache
Mercado/obj/Debug/Mercado.csprojAssemblyReference.cache
